<div class="textDiv">
        <h2>About Paragon AI</h2>
        <p>Paragon is an avant-garde software solution meticulously crafted to amplify efficiency and productivity by seamlessly monitoring, analyzing, and automating computer activities.
            As a trailblazer in micro-process automation, Paragon leverages cutting-edge AI, process & task mining, and cloud technologies to metamorphose user activities into automated workflows, heralding a paradigm shift in digital workflow automation.</p>
</div>