.notFoundContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

@media (max-width: 30rem) {
  h1 {
    font-size: 8.5rem;
  }
}
h2 {
  color: #fd7014;
  margin-bottom: 0.4em;
}