
.gridItemContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.gridItemContainer:hover{
    cursor: pointer;
}
.gridItemContent {
    height: 88%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gridItemText{
    height: 12%;
    width: 100%;
    font-size: 20px;
}
.gridItemContent p {
    margin: 0; /* Adjust margins for proper spacing */
    margin-top: 40px;
    font-size: 20px; /* Optional: Adjust font size for readability */
    font-weight: bold;
    padding: 10px;
}
.grid{
    margin: 2%; 
}
.defaultCursorContainer:hover{
    cursor: default;
}